/*попытка сделать на бутстрапе*/
/*.container-fluid {
	background-color: #ffffff;
	min-height: 77px;
	}*/

	/*Медиа-запросы 
	Экстрамалые девайсы («телефоны», < 576px)
 Нет @media, т.к. это по умолчанию в Bootstrap*/

/*/*Малые девайсы (sm) («ландшафтные телефоны», >= 576px)*/
/*@media (min-width: 576px) { ... }

/*Средние девайсы (md) («таблетки», >= 768px)*/
/*@media (min-width: 768px) { ... }*/

/*Большие девайсы (lg) (десктопы, >= 992px)
@media (min-width: 992px) { ... }*/

/*Экстрабольшие девайсы (xl) (большие де*//*/сктопы, >= 1200px)*/
/*@media (min-width: 1200px) { ... }*//*/*/

/*конец попытки*/





/*Flex-box-note
	/*display: flex;*/ /*по умолнянию элементы становятся в строку друг за другом при чем уменьшиются в ширине что бы уместиться всем на одной строке*/
	/*flex-direction: column;*//* флес-направдение: столбцы;
	/*flex-direction: row;*/ /* флес-направдение: строки;*/
	/*justify-content: flex-start;*/ /*выравнивание-контента: начало; (justify-content: - выравнивание по горизонтали)*/
	/*justify-content: flex-end;*/ /*выравнивание-контента: конец;
    /*justify-content: center; *//*выравнивание-контента: центр;*/
	/*justify-content: space-between;*/ /*задает одинаковое расстояние между квадратами, но не между контейнером и квадратами.*/
	/*justify-content: space-around;*/ /*также задает одинаковое расстояние между квадратами, но теперь расстояние между контейнером и квадратами равно половине расстояния между квадратами.*/

	
	/*align-items: flex-start;*/ /*выравнивание-вещей: начало; (align-items: - выравнивание по вертикали)*/
	/*align-items: flex-end;*/ /*выравнивание-вещей: конец;*/
	/*align-items: center;*/ /*выравнивание-вещей: центр;*/
	/*align-items: stretch;*/ /*выравнивание-вещей: растяжение; (сверху вниз тянется) Стоит заметить, что для align-items: stretch высота квадратов должна быть равна auto.*/
	/*align-items: baseline;*/ /*выравнивание-вещей: по базовой линии; */

}


/*.bc {
	width: 250px;*/ /*нужно задавать минимальную ширину и высоту, что бы она могла растягиваться в зависимости от требований. она не станет уже заданных размеров, но можно будет растянуть хоть на всю страницу*/ 
	/*height: 250px;
	background-color: lightblue;
	border: 2px solid blue;
	padding: 10px;
	margin: 10px;*/
}
/*.bc.two {
	height: 100px;
}*/
Ты можешь использовать align-content, чтобы указать, как несколько рядов должны отделяться друг от друга. Данное свойство принимает следующие значения:

flex-start: Ряды группируются в верхней части контейнера.
flex-end: Ряды группируются в нижней части контейнера.
center: Ряды группируются вертикально по центру контейнера.
space-between: Ряды отображаются с одинаковыми расстояниями между ними.
space-around: Ряды отображаются с одинаковыми расстояниями вокруг них.
stretch: Ряды растягиваются, чтоб заполнить контейнер равномерно.
Это может запутать, но align-content отвечает за расстояние между рядами, в то время как align-items отвечает за то, как элементы в целом будут выровнены в контейнере. Когда только один ряд, align-content ни на что не влияет.