*,html,body {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
}
section {
    padding: 5% 15%;
    margin: 0 auto;
}